<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Sample errorgeopy application</title>
</head>
<body>
    <form id='geocode-form' action=''>
        <p>
            Address:
            <input type='text' id='address' name='address' />
        </p>
        <p>
            <input type='submit' name='geocode' value='geocode' />
        </p>
    </form>
    <script type="text/javascript" src='../js/main.js'></script>
</body>
</html>
